body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff; 
    color: #333333; 
    transition: background-color 0.5s ease-in-out;
}

nav {
    background-color: #ffffff; 
    margin: 40px 40px 0 0;
    transition: background-color 0.5s ease-in-out;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    transition: opacity 0.5s ease-in-out;
}

li {
    margin: 0 20px;
    transition: opacity 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: #000000; /* Black */
    font-size: 2em;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease-in-out;
}

a:hover {
    color: #808080; 
}

.content {
    text-align: left;
    padding: 85px;
    opacity: 0;
    transform: translateX(-50px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    animation: fadeInLeft 1s ease-in-out 0.5s forwards;
}

.title {
    font-size: 5em;
    margin-bottom: 20px;
    transition: color 0.5s ease-in-out;
}

.subtitle {
    font-size: 2.8em;
    line-height: 1.8;
    transition: color 0.5s ease-in-out;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 2.4em;
    color: #ffffff; /* White */
    background-color: #000000; /* Black */
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.button:hover {
    background-color: #808080; /* Grey */
    transform: scale(1.1);
    color: #000000; /* Black */
}

.contact {
    font-size: 4em;
    margin-bottom: 20px;
    text-align: center;
    transition: color 0.5s ease-in-out;
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Animation keyframes */
@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for navigation links */
ul a:nth-child(1) {
    animation: fadeInUp 1s ease-in-out 0.6s forwards;
}

ul a:nth-child(2) {
    animation: fadeInUp 1s ease-in-out 0.6s forwards;
}

ul a:nth-child(3) {
    animation: fadeInUp 1s ease-in-out 0.6s forwards;
}

ul a:nth-child(4) {
    animation: fadeInUp 1s ease-in-out 0.6s forwards;
}

ul a:nth-child(5) {
    animation: fadeInUp 1s ease-in-out 0.6s forwards;
}

/* Media Queries */

/* Adjustments for screens up to 1024px */
@media screen and (max-width: 1024px) {
    nav {
        margin: 10px;
    }

    a {
        font-size: 1.8em;
    }

    .title {
        font-size: 4em;
    }

    .subtitle {
        font-size: 2.2em;
    }

    .button {
        font-size: 1.2em;
        padding: 10px;
    }
}

/* Adjustments for screens up to 768px */
@media screen and (max-width: 768px) {
    .content {
        padding: 50px;
    }

    .title {
        font-size: 3em;
    }

    .subtitle {
        font-size: 1.2em;
    }

    .button {
        font-size: 1em;
        padding: 10px;
        margin: 10px 0;
    }

    .button-container {
        flex-direction: column;
        align-items: center; 
    }
}
