  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  button:hover {
    background-color: rgba(224, 224, 224, 0.2);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  button:active {
    transform: translateY(0);
    box-shadow: none;
  }